.frame {
  text-align: center;
}

.row {
  padding: 20px;
  margin: 10px;
}

.targetWord {
  color: blueviolet;
  background: #ff7100;
  font-weight: 700;
  padding: 3px;
  border-radius: 4px;
}

.nonTargetWord {
  background: #d5e0ff;
  padding: 3px;
  border-radius: 4px;
}

.phraseRow {
  margin: 10px;
}

.cursor {
  cursor: pointer;
}

.right {
  margin-left: 300px;
}